{% extends 'base.content.html.twig' %}

{% block title %}Управление статьями - Изменение статьи{% endblock %}

{% block content %}

    {% if showError | default %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    Не удалось изменить статью
                </div>
            </div>
        </div>
    {% endif %}

    <div class="mb-2">
        <h1>Управление статьями - Изменение статьи</h1>

        {% include 'admin/articles/blocks/form.html.twig' with { btnName : 'Изменить' } %}
    </div>
{% endblock %}
